body,
button
{
	font-family: Helvetica, "Lucida Grande", Arial, Verdana, sans-serif;
}

p
{
	font-size: 1em;
}

/* Spacing */

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
ul, 
ol,
dl, 
p,
blockquote
{
}

img
{
	padding-bottom: 0;
}

/* bicubic resizing for non-native sized IMG:
2 code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img 
{ 
  -ms-interpolation-mode: bicubic; 
}
 

table h1, 
table h2, 
table h3, 
table h4, 
table h5, 
table h6, 
table ul, 
table ol,
table dl, 
table p,
table blockquote,
table address,
table pre,
table code
{
	padding:0;
}

/* Element */

img
{
	-moz-box-sizing: border-box;  
	-webkit-box-sizing: border-box;  
	box-sizing: border-box;
}

em
{
	font-style: italic;
}

strong
{
	font-weight: bold;
}

dfn
{
	font-style: italic;
}

hr
{
	margin: 20px 0;
	height: 0;
	clear: both;
	border: solid #ddd;
	border-width: 1px 0 0;
}

var
{
	font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
}

cite
{
	font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
	font-style: italic;
}

abbr
{
	border-bottom: 1px dotted;
}

acronym
{
	border-bottom: 1px dotted
}

address
{
	
}

}

cite
{
	font-family: Georgia, Utopia, Palatino, 'Palatino Linotype', serif;
	font-style: italic;
}

abbr
{
	border-bottom: 1px dotted;
}

acronym
{
	border-bottom: 1px dotted
}

address
{
	
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
	
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

/* Wrapping Long URLs and Text Content with CSS: http://perishablepress.com/press/2010/06/01/wrapping-content/ */

pre
{
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word;      /* IE 5+ */
}


/* Heading */

h1,
h2,
h3,
h4,
h5,
h6
{
	text-rendering: optimizeLegibility;
	font-weight:normal; 
  font-style: normal; 
}

/* Link */

a
{
	text-decoration: underline;
	outline: 0;
}

/* List */

ol li
{
	list-style-type: decimal;
}

ul li
{
	list-style-type: disc;
}

li
{
	list-style-position: inside;
}

/* Media */

/* ====== media ====== */

.media:after, 
.bd:after
{
	clear: both;
	display: block;
	visibility: hidden;
	overflow: hidden;
	height: 0 !important;
	line-height: 0;
	font-size: xx-large;
	content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

.media .bd
{
	display: table-cell; 
	zoom: 1;
}

.media .bd > :first-child
{
	margin-top: 0;
}
.media .bd > :last-child
{
	margin-bottom: 0;
}
.media .object
{
	float: left; 
	margin-right: 15px;
}

.media .object img
{
	display: block;
}

.media .object-ext
{
	float: right; 
	margin-left: 15px;
}


/* Align + float */
.align-left
{
	text-align: left !important;
}

.align-center
{
	text-align: center !important;
}

.align-right
{
	text-align: right !important;
}

.float-left
{
	float: left !important;
}

.float-right
{
	float: right !important;
}

/* Hide elements */
.hide
{
	display: none;
}