@media screen and (max-width: 319px)
{
	.unit
	{
		float: none !important;
		width: auto !important;
	}
}
.lastUnit:after,
.line:after
{
	clear: both;
	display: block;
	visibility: hidden;
	overflow: hidden;
	height: 0 !important;
	line-height: 0;
	font-size: xx-large;
	content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ";
}

.line
{
	*zoom: 1;
}

.unit
{
	float: left;
	-moz-box-sizing: border-box;  
	-webkit-box-sizing: border-box;  
	box-sizing: border-box;
	
	padding: 0;
}

.size1of1,
.size2of2,
.size3of3,
.size4of4,
.size5of5,
.size6of6,
.size7of7,
.size8of8,
.size9of9,
.size10of10,
.size11of11,
.size12of12,
.size13of13,
.size14of14,
.size15of15,
.size16of16
{
	margin: 0;
	float: none;
}

.size1of2,
.size2of4,
.size3of6,
.size4of8,
.size5of10,
.size6of12,
.size7of14,
.size8of16
{
	width: 50%;
}

.size1of3,
.size2of6,
.size3of9,
.size4of12,
.size5of15
{
	width: 33.33333%;
}

.size1of4,
.size2of8,
.size3of12,
.size4of16
{
	width: 25%;
}

.size1of5,
.size2of10,
.size3of15
{
	width: 20%;
}

.size1of6,
.size1of12
{
	width: 16.66667%;
}

.size1of7,
.size2of14
{
	width: 14.28571%;
}

.size1of8,
.size2of16
{
	width: 12.5%;
}

.size1of9
{
	width: 11.11111%;
}

.size1of10
{
	width: 10%;
}

.size1of11
{
	width: 9.09091%;
}

.size1of12
{
	width: 8.33333%;
}

.size1of13
{
	width: 7.69231%;
}

.size1of14
{
	width: 7.14286%;
}

.size1of15
{
	width: 6.66667%;
}

.size1of16
{
	width: 6.25%;
}

.size2of3,
.size4of6,
.size6of9,
.size8of12,
.size10of15
{
	width: 66.66667%;
}

.size2of5,
.size4of10,
.size6of15
{
	width: 40%;
}

.size2of7,
.size4of14
{
	width: 28.57143%;
}

.size2of9
{
	width: 22.22222%;
}

.size2of11
{
	width: 18.18182%;
}

.size2of12
{
	width: 16.66666%;
}

.size2of13
{
	width: 15.38462%;
}

.size2of15
{
	width: 13.33333%;
}

.size3of4,
.size6of8,
.size9of12,
.size12of16
{
	width: 75%;
}

.size3of5,
.size6of10,
.size9of15
{
	width: 60%;
}

.size3of7,
.size6of14
{
	width: 42.85714%;
}

.size3of8,
.size6of16
{
	width: 37.5%;
}

.size3of10
{
	width: 30%;
}

.size3of11
{
	width: 0.27273%;
}

.size3of13
{
	width: 23.07692%;
}

.size3of14
{
	width: 21.42857%;
}

.size3of16
{
	width: 18.75%;
}

.size4of5,
.size8of10,
.size12of15
{
	width: 80%;
}

.size4of7,
.size8of14
{
	width: 57.14286%;
}

.size4of9
{
	width: 44.44444%;
}

.size4of11
{
	width: 36.36363%;
}

.size4of13
{
	width: 30.76923%;
}

.size4of15
{
	width: 26.66667%;
}

.size5of6
.size10of12
{
	width: 83.33333%;
}

.size5of7,
.size10of14
{
	width: 71.42857%;
}

.size5of8,
.size10of16
{
	width: 62.5%;
}

.size5of9
{
	width: 55.55555%;
}

.size5of11
{
	width: 45.45455%;
}

.size5of12
{
	width: 41.66667%;
}

.size5of13
{
	width: 38.46154%;
}

.size5of14
{
	width: 35.71429%;
}

.size5of16
{
	width: 31.25%;
}

.size6of7,
.size12of14
{
	width: 85.71429%;
}

.size6of11
{
	width: 54.54545%;
}

.size6of13
{
	width: 46.15385%;
}

.size7of8,
.size14of16
{
	width: 87.5%;
}

.size7of9
{
	width: 77.77778%;
}

.size7of10
{
	width: 70%;
}

.size7of11
{
	width: 62.63636%;
}

.size7of12
{
	width: 58.33333%;
}

.size7of13
{
	width: 53.84615%;
}

.size7of15
{
	width: 46.66667%;
}

.size7of16
{
	width: 43.75%;
}

.size8of9
{
	width: 88.88889%;
}

.size8of11
{
	width: 72.72727%;
}

.size8of13
{
	width: 61.53846%;
}

.size8of15
{
	width: 53.33333%;
}

.size9of10
{
	width: 90%;
}

.size9of11
{
	width: 81.81818%;
}

.size9of13
{
	width: 69.23077%;
}

.size9of14
{
	width: 64.28571%;
}

.size9of16
{
	width: 56.25%;
}

.size10of11
{
	width: 90.90909%;
}

.size10of13
{
	width: 76.92308%;
}

.size11of12
{
	width: 91.66667%;
}

.size11of13
{
	width: 84.61538%;
}

.size11of14
{
	width: 78.57143%;
}

.size11of15
{
	width: 73.33333%;
}

.size11of16
{
	width: 68.75%;
}

.size12of13
{
	width: 92.30769%;
}

.size13of14
{
	width: 92.85714%;
}

.size13of15
{
	width: 86.66667%;
}

.size13of16
{
	width: 81.25%;
}

.size14of15
{
	width: 93.33333%;
}

.size15of16
{
	width: 93.75%;
}

.firstUnit
{
	padding-left: 0;
}

.lastUnit
{
	display: table-cell;
	float: none;
	width: auto; 
	*display: block;
	*zoom: 1;
	_position: relative;
	_left: -3px;
	_margin-right: -3px;
	padding-right: 0px;
}

.clear{
  clear:both;
  display:block;
  overflow:hidden;
  visibility:hidden;
  width:0;
  height:0
}

.clearfix
{
  display: inline-table;
/* Hides from IE-mac \*/
  height: 1%;
  display: block;
/* End hide from IE-mac */
}

html>body .clearfix
{
  height: auto;
}

.clearfix:after
{
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}