html
{
  font-size:100.01%;
}

body
{
  font-size: 81.3%; /* 13px */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul, 
ol,
dl, 
p,
blockquote
{
  padding: 10px 0;
}

h1
{
  font-size: 4.27273em;
}

h2
{
  font-size: 2.63636em;
}

h3
{
  font-size: 1.636363em;
}
